# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# Yahoo auth / secrets
oauth2.json
*.token
*.secret
.env

# Local data - DO NOT UPLOAD TO GITHUB
src/data/*
!src/data/README.md

# OS junk files
.DS_Store
*.log
